doctype html
html
  head
    title= sweetity 
    link(rel='stylesheet', href='/stylesheets/style.css')
  
  body
  - const style1={'color':'rgb(53, 32, 9)'}
  - const style2={'color':'rgb(197, 10, 53)'}
  - const style3={'color':'rgb(98, 160, 35)'}
nav.sticky
 div.flex
  h1
    img(src="../images/R.png", alt="logo", width='8%')
    a(style=style1) Swet
    a(style=style2) i
    a(style=style1) t
    a(style=style3) y
  h3 
    a(href ="http://localhost:3000") home 
  h3 
    a(href ="http://localhost:3000/services") Our Services
  h3 
    a(href ="http://localhost:3000/contacts") Contact Us 

block content